<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= mobylette_stylesheet_link_tag    "application" %>
  <%= mobylette_javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Normal Layout</h1>

<%= yield %>

</body>
</html>
